<% page_title "Admin Edit Post - #{@post.title}" %>
<% meta_description "Administrator direct edit of the '#{@post.title}' post in the #{Rails.application.config.app_name} application." %>

<div class="mb-8">
  <h1 class="hd1-hero">Admin Edit Post</h1>
  <p class="mt-2 text-sm text-gray-700">Update an existing blog post.</p>
</div>

<div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
  <%= render "form", post: @post %>
</div>

<div class="border-t border-gray-200 mt-4 mb-2"></div>
<div class="action-bar py-0 my-4">
  <%= link_to "Back to Posts", admin_posts_path, class: "action-link" %>
  <%= link_to "Back to Dashboard", admin_root_path, class: "action-link" %>
</div>
