<% page_title "Admin Edit #{@user.full_name}" %>
<% meta_description "Administrator edit #{@user.email} user information in the #{Rails.application.config.app_name} application." %>
<div class="mb-8">
  <h1 class="hd1-hero">Admin Edit User</h1>
  <p class="mt-2 text-sm text-gray-700">Update user information for <%= @user.email %></p>
</div>
<div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
  <%= render "form", user: @user %>
</div>

<div class="border-t border-gray-200 mt-4 mb-2"></div>
<div class="action-bar py-0 my-4">
  <%= link_to "Back to Users", admin_users_path, class: "action-link" %>
  <%= link_to "Back to Dashboard", admin_root_path, class: "action-link" %>
</div>
